{% extends '::base.html.twig' %}
{% block title %}track{% endblock %}
{% block body %}
    <h1>tracks</h1>
    <table>
        <thead>
        <th>ID</th>
        <th>Nom</th>
        <th>Tracks</th>
        <th>Duration</th>
        </thead>
        {% for playlist in playlists %}
            <tr>
                <td>
                    {{ playlist.id }}
                </td>
                <td>
                    {{ playlist.name }}
                </td>
                <td>
                    {% for track in playlist.tracks %}
                        {{ track.title }}<br>
                    {% endfor %}
                </td>
                <td>

                        {{ playlist_duration(playlist.tracks) | sec_to_min }}

                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}