{% extends '::base.html.twig' %}
{% block title %}Playlist{% endblock %}
{% block body %}
    <h1>Playlist</h1>
    <table>
        <thead>
        <th>ID</th>
        <th>Nom</th>
        <th>Tracks</th>
        <th>Duration</th>
        </thead>
            <tr>
                <td>
                    {{ playlist.id }}
                </td>
                <td>
                    {{ playlist.name }}
                </td>
                <td>
                    {% for track in playlist.tracks %}
                        {{ track.title }}<br>
                    {% endfor %}
                </td>
                <td>

                    {{ playlist_duration(playlist.tracks) | sec_to_min }}

                </td>
            </tr>
    </table>
{% endblock %}